.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formsContainer {
  display: flex;
  gap: 50px;
}

form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}


label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 250px;
  height: 35px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 180px;
  height: 35px;
  background-color: #962746;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}